* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edc9ad;
}

#container {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
}

#sonnenstandBogen {
  width: 100%;
  padding-top: 100%;
  border: 0.2em solid;
  border-bottom: none;
  border-radius: 50% 50% 0 0;
  position: relative;
  box-sizing: border-box;
}
