* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #edc9ad;
}

#titelWebsite,
#stadtName,
#latitudeLongitude,
#suchButton {
  color: #563723;
}

/* Styling des Titels */
#titelWebsite {
  font-weight: 400;
  font-size: 4vw;
  text-align: center;
  padding: 10%;
}

/* Anordnung der Stadteingabe, Stadt und Koordinaten sowie Styling*/
#stadtEingabeUndAnzeige,
#stadtEingabe,
#stadtAnzeige,
#latitudeLongitude {
  display: flex;
}

#stadtEingabeUndAnzeige {
  justify-content: space-evenly;
  padding: 5%;
}

#stadtEingabe {
  justify-content: center;
  align-items: center;
}

#stadtAnzeige {
  flex-direction: column;
  justify-content: center;
}

#suchFeld {
  padding: 3%;
  background-color: #ecd2c3 !important;
  border-radius: 5px;
  border: none;
}

#suchButton {
  color: #ffffff7c;
  background-color: #563723;
  padding: 3%;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}

#latitudeLongitude {
  gap: 0.8rem;
}

/* Styling und Positionierung der Erde */
#erdeSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

#erdeContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#erde {
  width: 60%;
  height: auto;
  display: block;
  position: relative;
  z-index: 3;
  border-radius: 50%;
}

/* Sonnenbogen und Zeitangaben des Sonnenauf- und Untergangs, Tageslänge und aktuelle Uhrzeit */
#bogenUndZeit {
  overflow: hidden;
  padding-top: 15%;
}

#container {
  width: 100%;
  height: 20vw;
  padding-top: 1vw;
  flex-wrap: wrap;
}

#sonnenstandBogen {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 150vw;
  height: 150vw;
  border: 0.2em solid #ffffff;
  border-bottom: none;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

#sun {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* Aktuelle Uhrzeiten Styling */
#aktuelleUhrzeit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #563723;
  margin: 3vw 0;
  text-align: center;
  font-weight: 400;
  font-size: 4vw;
}

/* Sonnenauf- und Untergangszeiten, Tageslänge */
#sonnenInfo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  margin: 5vw auto 5vw auto;
  padding-top: 5vw;
  color: #563723;
  z-index: 2;
  position: relative;
}

.infoBlock {
  flex: 1;
}

.infoBlock p:first-child {
  font-weight: 400;
  font-size: 1em;
}

.infoBlock p:last-child {
  font-weight: bold;
  font-size: 1.2em;
}

#sonnenaufgangZeit,
#sonnenuntergangsZeit,
#aktuelleZeit {
  display: none;
}

/* Media Queries für Responsiveness */
@media only screen and (max-width: 740px) {
  #stadtName {
    font-size: 16px;
  }
  #latitudeLongitude {
    font-size: 12px;
  }
  #suchFeld {
    width: 70%;
    font-size: 12px;
  }
  #sonnenInfo {
    font-size: 14px;
  }
  #suchButton {
    font-size: 12px;
  }
}

@media only screen and (max-width: 560px) {
  #stadtName {
    font-size: 14px;
  }
  #latitudeLongitude {
    font-size: 11px;
  }
  #suchFeld {
    width: 60%;
  }
  #sonnenInfo {
    font-size: 12px;
  }
  #suchFeld::placeholder {
    font-size: 12px;
  }
  #suchButton {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  #stadtName {
    font-size: 12px;
  }
  #latitudeLongitude {
    font-size: 10px;
  }
  #suchFeld {
    width: 50%;
    font-size: 11px;
  }
  #sonnenInfo {
    font-size: 11px;
  }
  #suchFeld::placeholder {
    font-size: 10px;
  }
  #suchButton {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  #stadtName {
    font-size: 12px;
  }
  #latitudeLongitude {
    font-size: 9px;
    display: block;
  }
  #suchFeld {
    width: 50%;
  }
  #sonnenInfo {
    font-size: 11px;
  }
}

@media only screen and (max-width: 400px) {
  #latitudeLongitude {
    font-size: 8px;
  }
}
