* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #edc9ad;
}

body,
html {
  overflow-x: hidden;
}

body.nacht {
  /* background-color: #edc9ad;/*
  /*background-color: #2b2b2b;*/
}

#titelWebsite,
#stadtName,
#stadtLatitude,
#stadtLongitude,
#suchButton {
  color: #563723;
}

#stadtEingabeUndAnzeige,
#stadtEingabe,
#stadtAnzeige,
#latitudeLongitude {
  display: flex;
}

#titelWebsite {
  font-weight: 400;
  text-align: center;
  padding: 20%;
}

#stadtEingabeUndAnzeige {
  justify-content: space-evenly;
}

#stadtEingabe {
  justify-content: center;
  align-items: center;
}

#stadtAnzeige {
  flex-direction: column;
  justify-content: center;
}

#suchFeld {
  padding: 3%;
  background-color: #ecd2c3 !important;
  border-radius: 5px;
  border: none;
}

#suchButton {
  color: #ffffff7c;
  background-color: #563723;
  padding: 3%;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}

#latitudeLongitude {
  gap: 0.8rem;
}

#container {
  width: 100%;
  padding-top: 10vw;
  padding-bottom: 10vw;
  flex-wrap: wrap;
  padding-bottom: 10vw;
}

#sonnenstandBogen {
  position: absolute; /* aus dem Fluss, nicht verschiebend */
  top: 50vw; /* nach unten verschieben, je nach Bedarf */
  left: 50%;
  transform: translateX(-50%);
  clip-path: inset(0 0 50% 0);
  width: 150vw;
  height: 150vw;

  border: 0.2em solid #563723;
  border-bottom: none;
  border-radius: 50%;

  overflow: hidden;
  box-sizing: border-box;
}

#sun {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 50%; /* Beispielwert */
  left: 50%; /* Beispielwert */
  transform: translate(-50%, -50%);
}

#sonnenInfo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  margin: 5vw auto 0 auto; /* oben etwas mehr Abstand */
  padding-top: 5vw;
  color: #563723;
  z-index: 2;
  position: relative;
}

.infoBlock {
  flex: 1;
}

.infoBlock p:first-child {
  font-weight: 400;
  font-size: 1em;
}

.infoBlock p:last-child {
  font-weight: bold;
  font-size: 1.2em;
}

#sonnenaufgangZeit,
#sonnenuntergangsZeit,
#aktuelleZeit {
  display: none;
}
